html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #5c5c5c;
}

body {
  width: "device-width";
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 auto;
}

#top {
  width: 100%;
  height: 100px;
  background-color: black;
}

h1 {
  font-size: 12px;
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 0px 0px 0px 10px;
}

h3 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  padding: 10px 10px 0px 10px;
  margin-block-start: 0;
  margin-block-end: 0;
}

#change-user {
  position: fixed;
  right: 30px;
  top: 65px;
}

#principal-img {
  margin: 10px 10px 10px 10px;
}

#inter {
  margin: 10px 10px 10px 10px;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  height: 200px;
}
